<!DOCTYPE html>
<html style="font-size: 16px;" lang="pt" xmlns:th="http://www.thymeleaf.org"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="Campeonato Brasileiro">
    <meta name="description" content="">
    <title>Santander Coders 2024 - TDI - Menos Jogos</title>
    <link rel="stylesheet" href="//abtro.com.br/coders/nicepage.css" media="screen">
    <link rel="stylesheet" th:href="@{/css/menosjogos.css}" media="screen">
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">



  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="pt"><header class="u-box-shadow u-clearfix u-custom-color-1 u-header u-header" id="sec-4495"><div class="u-clearfix u-sheet u-sheet-1">
        <a href="#" class="u-image u-logo u-image-1" data-image-width="1200" data-image-height="627">
          <img th:src="@{/images/thumb.png}" class="u-logo-image u-logo-image-1">
        </a>
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1" data-responsive-from="MD">
          <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
            <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#menu-hamburger"></use></svg>
              <svg class="u-svg-content" version="1.1" id="menu-hamburger" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
            <div class="u-custom-menu u-nav-container">
                <ul class="u-nav u-unstyled u-nav-1">
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            th:href="@{/web}" style="padding: 10px 10px;">Página Inicial</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            th:href="@{/web/times/mais-vitorias}" style="padding: 10px 10px;">Mais Vitorias</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            th:href="@{/web/jogos/maior-placar}" style="padding: 10px 10px;">Maior Placar</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            th:href="@{/web/jogadores/mais-cartoes}" style="padding: 10px 10px;">Mais Cartões</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            th:href="@{/web/jogadores/mais-gols}" style="padding: 10px 10px;">Mais Gols</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            th:href="@{/web/estados/menos-jogos}" style="padding: 10px 10px;">Menos Jogos</a>
                    </li>
                    <li class="u-nav-item"><a
                            class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base"
                            th:href="@{/swagger-ui/index.html#}" target="_blank" style="padding: 10px 20px;">API</a>
                    </li>
                </ul>
            </div>
            <div class="u-custom-menu u-nav-container-collapse">
                <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
                    <div class="u-inner-container-layout u-sidenav-overflow">
                        <div class="u-menu-close"></div>
                        <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                            <li class="u-nav-item"><a class="u-button-style u-nav-link" th:href="@{/web}">Página
                                Inicial</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/web/times/mais-vitorias}">Mais Vitorias</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/web/jogadores/maior-placar}">Maior Placar</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/web/jogadores/mais-cartoes}">Mais Cartões</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/web/jogadores/mais-gols}">Mais Gols</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/web/estados/menos-jogos}">Menos Jogos</a>
                            </li>
                            <li class="u-nav-item"><a class="u-button-style u-nav-link"
                                                      th:href="@{/swagger-ui/index.html#}" target="_blank">API</a>
                            </li>
                        </ul>
                    </div>
                </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
          <style class="menu-style">@media (max-width: 939px) {
                    [data-responsive-from="MD"] .u-nav-container {
                        display: none;
                    }
                    [data-responsive-from="MD"] .menu-collapse {
                        display: block;
                    }
                }</style>
        </nav>
      </div></header>
    <section class="u-align-center u-clearfix u-container-align-center u-section-1" id="sec-fa7d">
      <div class="u-align-center u-container-align-center u-container-style u-expanded-width u-group u-image u-image-1" data-image-width="1280" data-image-height="853">
        <div class="u-container-layout u-container-layout-1">
          <div class="u-black u-container-style u-group u-opacity u-opacity-75 u-shape-rectangle u-group-2">
            <div class="u-container-layout u-container-layout-2">
              <div class="u-align-center u-form u-form-1">
                <form th:action="@{/web/estados/menos-jogos}" method="get" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form"  name="form" style="padding: 0px;">
                  <div class="u-form-group u-form-select u-label-top u-form-group-1">
                    <label for="startYear" class="u-label u-label-1" >Ano Inicio</label>
                      <div class="u-form-select-wrapper">
                          <select id="startYear" name="anoInicio" class="u-input u-input-rectangle">
                              class="u-input u-input-rectangle">
                              <option value="" disabled selected>Selecione um ano</option>
                              <option th:each="i : ${#numbers.sequence(2003, 2023)}"
                                      th:value="${i}"
                                      th:text="${i}"
                                      th:selected="${i} == ${selectedStartYear}">2003
                              </option>
                          </select>
                          <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1"
                               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                               x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16"
                               style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                      </div>
                  </div>
                  <div class="u-form-group u-form-select u-label-top u-form-group-2">
                    <label  for="endYear" class="u-label u-label-2">Ano Final</label>
                      <div class="u-form-select-wrapper">
                          <select id="endYear" name="anoFim" class="u-input u-input-rectangle">
                              class="u-input u-input-rectangle">
                              <option value="" disabled selected>Selecione um ano</option>
                              <option th:each="i : ${#numbers.sequence(2003, 2023)}"
                                      th:value="${i}"
                                      th:text="${i}"
                                      th:selected="${i} == ${selectedEndYear}">2003
                              </option>
                          </select>
                          <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1"
                               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                               x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16"
                               style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
                      </div>
                  </div>
                  <div class="u-align-center u-form-group u-form-submit u-label-top">
                    <input type="submit" value="submit" class="u-form-control-hidden">
                      <button type="submit" id="submitButton" class="u-btn u-btn-submit u-button-style">Consultar</button>

                  </div>
                </form>
              </div>
              <div class="u-align-center u-table u-table-responsive u-table-1">
                <table class="u-table-entity">
                  <colgroup>
                    <col width="50%">
                    <col width="50%">
                  </colgroup>
                  <tbody class="u-table-body">
                    <tr style="height: 30px;">
                      <td class="u-palette-1-base u-table-cell u-table-cell-1">Estados</td>
                      <td class="u-palette-1-base u-table-cell u-table-cell-2">Jogos </td>
                    </tr>
                    <tr style="height: 47px;" th:each="result : ${results}">
                      <td class="u-table-cell u-white u-table-cell-3" th:text="${result[0]}"></td>
                      <td class="u-table-cell u-white u-table-cell-4" th:text="${result[1]}"></td>
                    </tr>
                      </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    
    
    
    <footer class="u-align-center u-clearfix u-container-align-center u-footer u-grey-80 u-footer" id="sec-c3c3"><div class="u-clearfix u-sheet u-sheet-1">
        <p class="u-small-text u-text u-text-variant u-text-1">Desenvolvido por Diogo | Isaque | Rômulo</p>
      </div></footer>
    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>This site was created with the </span>
        <a class="u-link" href="https://nicepage.com/" target="_blank" rel="nofollow">
          <span>Nicepage</span>
        </a>
      </p>
    </section>
  
</body></html>