<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Consulta de Vitórias</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
    <h1>Selecione o ano para ver o time com mais vitórias</h1>

    <form th:action="@{/most-wins}" method="get">
        <label for="year">Ano:</label>
        <select id="year" name="year" onchange="this.form.submit()">
            <option value="" disabled selected>Selecione um ano</option>
            <option th:each="i : ${#numbers.sequence(2003, 2023)}"
                    th:value="${i}"
                    th:text="${i}"
                    th:selected="${i} == ${selectedYear}">2003</option>
        </select>
    </form>

    <div th:if="${results != null}">
        <h2>Resultado para o ano [[${selectedYear}]]</h2>
        <table>
            <tr>
                <th>Time</th>
                <th>Total de Vitórias</th>
            </tr>
            <tr th:each="result : ${results}">
                <td th:text="${result[0]}">Nome do Time</td>
                <td th:text="${result[1]}">Quantidade de Vitórias</td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>
